<% if @page.layout.present? and @page.render_layout_as_partial? %>
  <%= render :partial => @page.layout %>
<% else %>
  <% content_for :sidebar do %>
    <% if @products && @taxon %>
      <%= render :partial => "spree/shared/filters" %>
    <% elsif @taxonomies %>
      <%= render :partial => "spree/shared/taxonomies" %>
    <% end %>
  <% end %>

  <h1><%= @page.title %></h1>
  <div id="page_content">
    <%= raw @page.body %>
  </div>
<% end %>
