<div data-hook='admin_page_form_fields'>
  <div class='row'>
    <div class='col-12'>
      <%= f.field_container :title do %>
        <%= f.label :title, class: 'required' %>
        <%= f.text_field :title, required: true, class: 'fullwidth title' %>
        <%= f.error_message_on :title %>
      <% end %>
    </div>

    <div class='col-12'>
      <%= f.field_container :slug do %>
        <%= f.label :slug, class: 'required' %>
        <%= f.text_field :slug, required: true, class: 'fullwidth title' %>
        <%= f.error_message_on :slug %>
      <% end %>
    </div>

    <div class='col-12'>
      <%= f.field_container :body do %>
        <%= f.label :body, class: 'required' %>
        <%= f.text_area :body, class: 'fullwidth', rows: 12 %>
        <%= f.error_message_on :body %>
      <% end %>
    </div>
  </div>

  <div class='row'>
    <div class='col-6'>
      <%= f.field_container :layout do %>
        <%= f.label :layout %>
        <%= f.text_field :layout, class: 'fullwidth title' %>
      <% end %>
    </div>

    <div class='col-6'>
      <%= f.field_container :foreign_link do %>
        <%= f.label :foreign_link %>
        <%= f.text_field :foreign_link, class: 'fullwidth title' %>
      <% end %>
    </div>
  </div>

  <div class='row'>
    <div class='col-2'>
      <%= f.field_container :show_in_sidebar do %>
        <%= f.check_box :show_in_sidebar %>
        <%= f.label :show_in_sidebar %>
      <% end %>
    </div>

    <div class='col-2'>
      <%= f.field_container :show_in_header do %>
        <%= f.check_box :show_in_header %>
        <%= f.label :show_in_header %>
      <% end %>
    </div>

    <div class='col-2'>
      <%= f.field_container :show_in_footer do %>
        <%= f.check_box :show_in_footer %>
        <%= f.label :show_in_footer %>
      <% end %>
    </div>

    <div class='col-2'>
      <%= f.field_container :visible do %>
        <%= f.check_box :visible %>
        <%= f.label :visible %>
      <% end %>
    </div>

    <div class='col-2'>
      <%= f.field_container :render_layout_as_partial do %>
        <%= f.check_box :render_layout_as_partial %>
        <%= f.label :render_layout_as_partial %>
      <% end %>
    </div>
  </div>

  <div class='row'>
    <div class='col-2'>
      <%= f.field_container :stores do %>
        <%= f.label :stores, t("spree.stores") %>
        <br>
        <% Spree::Store.all.each do |store| %>
          <%= check_box_tag 'page[store_ids][]', store.id, @page.stores.include?(store) %>
          <%= label_tag store.name %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class='row'>
    <div class='col-12'>
      <%= f.field_container :meta_title do %>
        <%= f.label :meta_title %>
        <%= f.text_field :meta_title, class: 'fullwidth title' %>
        <%= f.error_message_on :meta_title %>
      <% end %>
    </div>

    <div class='col-12'>
      <%= f.field_container :meta_keywords do %>
        <%= f.label :meta_keywords %>
        <%= f.text_field :meta_keywords, class: 'fullwidth title' %>
        <%= f.error_message_on :meta_keywords %>
      <% end %>
    </div>

    <div class='col-12'>
      <%= f.field_container :meta_description do %>
        <%= f.label :meta_description %>
        <%= f.text_field :meta_description, class: 'fullwidth title' %>
        <%= f.error_message_on :meta_description %>
      <% end %>
    </div>
  </div>
</div>
