<div data-hook="admin_page_form_fields" class="row">
  <div class="col-6">
    <%= f.field_container :title do %>
      <%= f.label :title, class: "required" %>
      <%= f.text_field :title, class: "fullwidth" %>
      <%= f.error_message_on :title %>
    <% end %>
  </div>

  <div class="col-6">
    <%= f.field_container :slug do %>
      <%= f.label :slug, class: 'required' %>
      <%= f.text_field :slug, class: 'fullwidth' %>
      <%= f.error_message_on :slug %>
    <% end %>
  </div>

  <div class="col-12">
    <%= f.field_container :body do %>
      <%= f.label :body, class: "required" %>
      <%= f.text_area :body, { rows: 12, class: "fullwidth" } %>
      <%= f.error_message_on :body %>
    <% end %>
  </div>

  <div class="col-4">
    <%= f.field_container :layout do %>
      <%= f.label :layout, class: "required" %>
      <%= f.text_field :layout, class: "fullwidth" %>
    <% end %>
  </div>

  <div class="col-4">
    <%= f.field_container :foreign_link do %>
      <%= f.label :foreign_link, class: "required" %>
      <%= f.text_field :foreign_link, class: "fullwidth" %>
    <% end %>
  </div>

  <div class="col-4">
    <%= f.field_container :position do %>
      <%= f.label :position, class: "required" %>
      <%= f.number_field :position, :min => 0, class: "fullwidth" %>
    <% end %>
  </div>

  <div class="col-6">
    <%= f.field_container :show_in_sidebar do %>
      <%= f.check_box :show_in_sidebar %>
      <%= f.label :show_in_sidebar %>
    <% end %>

    <%= f.field_container :show_in_header do %>
      <%= f.check_box :show_in_header %>
      <%= f.label :show_in_header %>
    <% end %>

    <%= f.field_container :show_in_footer do %>
      <%= f.check_box :show_in_footer %>
      <%= f.label :show_in_footer %>
    <% end %>

    <%= f.field_container :visible do %>
      <%= f.check_box :visible %>
      <%= f.label :visible %>
    <% end %>

    <%= f.field_container :render_layout_as_partial do %>
      <%= f.check_box :render_layout_as_partial %>
      <%= f.label :render_layout_as_partial %>
    <% end %>
  </div>

  <div class="col-12">
    <%= f.field_container :stores do %>
      <%= f.label :stores, I18n.t('spree.stores')%><br />
      <% Spree::Store.all.each do |store| %>
        <%= check_box_tag "product[store_ids][]", store.id, @page.stores.include?(store), id: "product_store_id_#{store.id}" %>
        <%= label_tag "page_store_id_#{store.id}", store.name %>
      <% end %>
    <% end %>
  </div>

  <div class="col-12">
    <%= f.field_container :meta_title do %>
      <%= f.label :meta_title %>
      <%= f.text_field :meta_title, class: "fullwidth" %>
      <%= f.error_message_on :meta_title %>
    <% end %>

    <%= f.field_container :meta_keywords do %>
      <%= f.label :meta_keywords %>
      <%= f.text_field :meta_keywords, class: "fullwidth" %>
      <%= f.error_message_on :meta_keywords %>
    <% end %>

    <%= f.field_container :meta_description do %>
      <%= f.label :meta_description %>
      <%= f.text_field :meta_description, class: "fullwidth" %>
      <%= f.error_message_on :meta_description %>
    <% end %>
  </div>
</div>
