<% content_for :page_actions do %>
  <% if can?(:create, Spree::Page) %>
    <li>
      <%= link_to I18n.t("spree.static_content.new_page"), new_object_url, class: "btn btn-primary" %>
    </li>
  <% end %>
<% end %>

<% admin_breadcrumb(plural_resource_name(Spree::Page)) %>

<% if @pages.any? %>
  <table class="index responsive" id="listing_pages" data-hook>
    <colgroup>
      <col style="width: 40%">
      <col style="width: 35%">
      <col style="width: 10%">
      <col style="width: 15%">
    </colgroup>
    <thead>
      <tr data-hook="admin_pages_index_headers">
        <th><%= Spree::Page.human_attribute_name(:title) %></th>
        <th><%= I18n.t("spree.static_content.link") %></th>
        <th><%= Spree::Page.human_attribute_name(:visible) %></th>
        <th data-hook="admin_pages_index_header_actions" class="actions"></th>
      </tr>
    </thead>

    <tbody>
      <% @pages.each do |page| %>
        <tr data-hook="admin_pages_index_rows" class="<%= cycle('odd', 'even') %>" id="<%= dom_id page %>">
          <td><%= page.title %></td>
          <td><%= link_to page.link, page.link, :target => '_blank' %></td>
          <td><%= content_tag(:i, '', class: 'icon-ok green') if page.visible %></td>
          <td data-hook="admin_pages_index_row_actions" class="actions" >
            <% if can?(:update, page) %>
              <%= link_to_edit page, no_text: true %>
            <% end %>
            <% if can?(:destroy, page) %>
              <%= link_to_delete page, no_text: true %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="no-objects-found">
    <%= render 'spree/admin/shared/no_objects_found',
                resource: Spree::Page,
                new_resource_url: new_object_url %>
  </div>
<% end %>
