<% if SolidusSupport.solidus_gem_version < Gem::Version.new('1.4.x') %>
  <%= render partial: 'spree/admin/shared/configuration_menu' %>

  <% content_for :page_title do %>
    <%= Spree.t(:new_page) %>
  <% end %>

  <% content_for :page_actions do %>
    <li>
      <%= button_link_to Spree.t(:back_to_pages), spree.admin_pages_path, icon: 'arrow-left' %>
    </li>
  <% end %>
<% else %>
  <%= render 'spree/admin/shared/pages_tabs' %>

  <% admin_breadcrumb(Spree.t(:settings)) %>
  <% admin_breadcrumb(link_to plural_resource_name(Spree::Page), spree.admin_pages_path) %>
  <% admin_breadcrumb(Spree.t(:new_page)) %>

  <% content_for :page_actions do %>
  <% end %>
<% end %>

<%= render 'spree/shared/error_messages', target: @page %>

<div data-hook='admin_page_new_form'>
  <%= form_for [:admin, @page] do |f| %>
    <fieldset class='no-border-top'>
      <%= render partial:'form', locals: { f: f } %>

      <div class='clear'></div>

      <div data-hook='admin_page_new_form_buttons'>
        <%= render partial: 'spree/admin/shared/new_resource_links' %>
      </div>
    </fieldset>
  <% end %>
</div>
