<%= render 'spree/admin/shared/pages_tabs' %>

<% admin_breadcrumb(t('spree.settings')) %>
<% admin_breadcrumb(link_to plural_resource_name(Spree::Page), spree.admin_pages_path) %>
<% admin_breadcrumb(t('spree.static_content.new_page')) %>

<% content_for :page_actions do %><% end %>

<%= render "spree/shared/error_messages", :target => @page %>

<div data-hook='admin_page_new_form'>
  <%= form_for [:admin, @page] do |f| %>
    <fieldset class='no-border-top'>
      <%= render partial: 'form', locals: { f: f } %>

      <div class='clear'></div>

      <div data-hook='admin_page_new_form_buttons'>
        <%= render partial: 'spree/admin/shared/new_resource_links' %>
      </div>
    </fieldset>
  <% end %>
</div>
