<%= render 'spree/admin/shared/pages_tabs' %>

<% admin_breadcrumb(link_to plural_resource_name(Spree::Page), spree.admin_pages_path) %>
<% admin_breadcrumb(@page.title) %>

<% content_for :page_title do %>
  <%= t("spree.editing_page") %>
<% end %>

<% content_for :page_actions do %>
  <li>
    <%= button_to t("spree.back_to_static_pages_list"), spree.admin_pages_path %>
  </li>
<% end %>

<div data-hook='admin_page_edit_form_header'>
  <%= render "spree/shared/error_messages", :target => @page %>
</div>

<%= form_for [:admin, @page], as: :page, url: admin_page_path(@page) do |f| %>
  <fieldset class="no-border-top">
    <%= render :partial => 'form', :locals => { :f => f } %>

    <div class='clear'></div>

    <div data-hook='admin_page_edit_form_buttons'>
      <% if can?(:update, @page) %>
        <%= render partial: 'spree/admin/shared/edit_resource_links' %>
      <% end %>
    </div>
  </fieldset>
<% end %>
